body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-form input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.task-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.task {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
}

.task button {
    margin-right: 10px;
}